a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;;
  float: left;
  height: 100%;
  background: url(../src/images/Hero-Banner.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.black-transparent::before {
  height: 80px;
}
header.black-transparent nav {
  padding: 20px 0;
}
header::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 0px;
  left: 0;
  right: 0;
  background: rgba(106, 118, 86, 0.85);
  z-index: 8;
  transition: height .3s all ease-in-out;
  transition: var(--mainTransition);
}
/* ---- Menu css start here ---- */
.nav-toggle-btn {
  opacity: 1;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  right: 30px;
  border: none;
  width: 0;
  height: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.nav-toggle-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#98B296), color-stop(20%, #98B296), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #98B296), color-stop(60%, #98B296), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(80%, #98B296), to(#98B296));
  background: linear-gradient(to bottom, #98B296, #98B296 20%, transparent 20%, transparent 40%, #98B296 40%, #98B296 60%, transparent 60%, transparent 80%, #98B296 80%, #98B296 100%);
  -webkit-transition: opacity 0.2s ease-in-out, width 0.2s 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, width 0.2s 0.2s ease-in-out;
}
.nav-toggle-btn:after {
  opacity: 0;
  content: '×';
  color: black;
  position: absolute;
  top: 1px;
  left: 6px;
  font-size: 42px;
  line-height: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: #fff;
  border-radius: 50px;
  width: 40px;
  line-height: 40px;
  height: 40px;
}
/* .nav-toggle-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
} */
.nav-toggle-btn:hover {
  opacity: 1;
}
.open.nav-toggle-btn {
  opacity: 1;
}
.open.nav-toggle-btn:before {
  opacity: 0;
  width: 0;
}
.open.nav-toggle-btn:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  -webkit-transition: opacity 0.4s 1s ease-in-out, -webkit-transform 0.4s 1s ease-in-out;
  transition: opacity 0.4s 1s ease-in-out, -webkit-transform 0.4s 1s ease-in-out;
  transition: transform 0.4s 1s ease-in-out, opacity 0.4s 1s ease-in-out;
  transition: transform 0.4s 1s ease-in-out, opacity 0.4s 1s ease-in-out, -webkit-transform 0.4s 1s ease-in-out;
}

nav {
  width: 100%;
  height: 50px;
  margin: auto;
  max-width: 1166px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  padding: 40px 0;
  z-index: 9;
  transition: .2s all ease-in-out;
}
.navigation {
  position: relative;
}
.navigation ul li {
  display: block;
}
.navigation .nav-links {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  z-index: 2;
}
.navigation .nav-links:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(79, 85, 61, 0.94);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
          transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.navigation .nav-links.show-nav {
  top: 0;
}
.navigation .nav-links.show-nav:before {
  -webkit-animation: menu-animation 0.8s ease-in-out forwards;
          animation: menu-animation 0.8s ease-in-out forwards;
}
.navigation .nav-links ul {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
.navigation ul li {
  display: block;
  padding: 10px 10px;
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
          transform: translate3d(0, 36px, 0);
}
.navigation .nav-links.show-nav ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.navigation .nav-links.show-nav ul li:nth-child(1) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.navigation .nav-links.show-nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}
.navigation .nav-links.show-nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}
.navigation .nav-links.show-nav ul li:nth-child(4) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}
.navigation ul li a {
  font-size: 28px;
  color: var(--lighter-green);
  font-weight: 600;
  transition: var(--mainTransition);
  position: relative;
}
.navigation ul li a:hover {
  color: var(--yellow);
}
.navigation ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  opacity: 0;
  border: 2px solid var(--yellow);
  bottom: -10px;
  transition: width .3s ease-in-out;
}
.navigation ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
/* ---- Menu css end here ---- */

/* ---- hero content css start here ---- */
.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-content .sub-title {
  color: var(--white-color);
}
.header-content .main-title {
  font-size: 60px;
  line-height: 72px;
  color: var(--white-color);
}
.header-content .desc {
  color: var(--white-color);
}
.sub-title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.main-title {
  font-size: 36px;
  line-height: 46px;
}
.hero-text {
  max-width: 610px;
}
.desc {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
.btn-yellow {
  margin-top: 30px;
}
/* ---- hero content css end here ---- */