@font-face {
  font-family: 'PoppinsRegular';
  src: ur('./fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'), ur('./fonts/Poppins-Bold.ttf') format('ttf');
}


@font-face {
  font-family: 'PoppinsItalic';
  src: local('PoppinsItalic'), ur('./fonts/Poppins-Italic.ttf') format('ttf');
}

html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
